#content {margin: 1%; background-color: #e0e0e0; border-color: #d0d0d0;
  border-style: solid; border-width: thin; border-radius: 15px}
p {margin-left: 2px;}
#footer {align-self: flex-end;}
body {min-height: inherit;}
table {align-content: center}
th {background-color: #c0c0c0;}
* {border-radius: 15px;}
